.damage-calculator > label {
    display: block;
    margin: 0;
}

.damage-calculator > label input{
    margin-right: 4px;
}

.damage-calculator .gun-table, .damage-table {
    width: 800px;
    table-layout:fixed;
}

.damage-calculator .damage-cell span {
    color: gray;
    margin-left: 2px;
}

.damage-calculator .input-group {
    width: 300px;
}


.damage-calculator .laser-input {
    margin-bottom: 10px;
}
.damage-calculator .laser-input .number-box {
    max-width: 80px;
}
.damage-calculator .laser-input .input-group{
    width: 400px;
}
.damage-calculator .laser-input .laser-range{
    margin-left: 10px;
}
.damage-calculator .laser-input .input-group-text{
    width: 90px;
}