



.match-history-list {
    background-color: rgba(240, 191, 191, 0.726);
    padding: 20px;
    margin: 20px;
}

.match-history-entry {
    background-color: rgb(229, 210, 147);
    list-style: none;
    margin: 20px;
    width: 700px;
    /* height: 1px; */

}
.match-history-entry > .overview-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%
    

}

/* ------------------------------ */
/* ----- Match overview box ----- */
/* ------------------------------ */

.match-history-entry > .overview-table > div {
    display: table-cell;
    border: 5px black solid;
    height: 100%;
}


.match-history-entry .matchup-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;

}
.match-history-entry .matchup-table > div{
    display: table-cell;
    vertical-align: middle;
    /* border: 2px black solid; */
    text-align: center;
    
    
}

/* Matchup and score table */

.match-history-entry .overview-table .matchup {
    width: 150px;
}

.match-history-entry .overview-table .matchup-table img{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 3px solid;
    border-radius: 4px;
}

.match-history-entry .overview-table .matchup-table .red-team img{
    border-color: #c6443e;
}
.match-history-entry .overview-table .matchup-table .blue-team img{
    border-color: rgb(66, 177, 198);
}

.match-history-entry .overview-table .matchup-table .results{
    width: 20%;
    font-weight: bold;
    /* font-family: "Goudy Bookletter 1911", monospace; */
    /* font-family: system-ui; */
    /* color: #c6443e; */
    /* color: rgb(66, 177, 198); */
}


/* Info box */
.match-history-entry .overview-table .info {
    width: 160px;
    /* padding-top: 8px; */
    text-align: center;
    vertical-align: top;

    font-size: 14px;
    color: #555e5e;
}
.match-history-entry .overview-table .info > div{
    margin-top: 6px;
}

/* Player list */
.match-history-entry .overview-table .players {
    text-align: left;
    vertical-align: top;
    /* padding: 0; */
}

.match-history-entry .overview-table .players > div {
    float: right;
    margin-right: 8px;
}

.match-history-entry .overview-table .players ul{
    width: 80px;
    /* float: left; */
    list-style: none;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    font-size: 11px;
    color: rgb(85, 85, 85);
    /* font-family: Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma; */
}

.match-history-entry .overview-table .players li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.match-history-entry .overview-table .players li:hover{
    cursor: pointer;
}

.match-history-entry .overview-table .players img{
    height: 16px;
    width: 16px;
    background-color: black;
}

