
:root {
    --tag-fill-1: rgb(140, 81, 197);
    --tag-border-1: rgb(127, 53, 144);

    --background-color: #EAEAEA;
    --medium-border: #9b9b9b;
    --card-border: #D2D2D2;
    --card-color-1: #F2F2F2;
    --card-color-2: #EDEDED;

}

#matchHistory {
    background-color: rgb(234, 234, 234);
    padding-top: 10px;
}

#ModInfobox {
    margin-bottom: 10px;
}

#ModInfobox a {
    color: black;
    text-decoration: underline;
    color: rgb(82, 82, 255);
}
#ModInfobox svg {
    height: 1em;
    width: 1em;
}

.load-more-matches-button {
    padding: 0;
    margin: 10px;
    margin-top: 0;
    width: 800px;
    height: 50px;
    outline: none;

    background-color: var(--card-color-1);
    border: 1px solid;
    border-color: var(--card-border);
}

.load-more-matches-button:hover:not(:disabled) {
    background-color: var(--card-color-2);
}

.match-history-list {
    /* background-color: rgba(240, 191, 191, 0.726); */
    /* padding: 20px; */
    /* margin: 20px; */
    padding: 0;
    margin: 10px;
    
    /* margin-left: 10px; */
}

.match-history-entry {
    list-style: none;
    margin-bottom: 10px;
    width: 800px;
    border: 1px solid;
    /* border-bottom: none; */
    /* height: 1px; */
}

.match-history-entry.red-winner {
    background-color: var(--red-1);
    border-color: var(--red-4);
}
.match-history-entry.blue-winner {
    background-color: var(--blue-1);
    border-color: var(--blue-4);
}

.match-history-entry > .overview-table {
    /* display: table; */
    /* table-layout: fixed; */
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    height: 100%;
    width: 100%;
}

/* ------------------------------ */
/* ----- Match overview box ----- */
/* ------------------------------ */

.match-history-entry > .overview-table > div {
    /* display: table-cell; */
    /* border-right: 1px solid; */
    /* height: 100%; */
}


.match-history-entry .matchup-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;

}
.match-history-entry .matchup-table > div{
    display: table-cell;
    vertical-align: middle;
    /* border: 2px black solid; */
    text-align: center;
    
    
}

/* Matchup and score table */

.match-history-entry .overview-table .matchup {
    width: 150px;
}

.match-history-entry .overview-table .matchup-table img{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 3px solid;
    border-radius: 4px;
}

.match-history-entry .overview-table .matchup-table div:nth-of-type(1) img{
    border-color: #c6443e;
}

.match-history-entry .overview-table .matchup-table div:nth-of-type(3) img{
    border-color: rgb(66, 149, 198);
}

.match-history-entry .overview-table .matchup-table .results{
    width: 20%;
    font-weight: bold;
    /* font-family: "Goudy Bookletter 1911", monospace; */
    /* font-family: system-ui; */
    /* color: #c6443e; */
    /* color: rgb(66, 177, 198); */
}


/* Info box */
.match-history-entry .overview-table .info {
    width: 140px;
    /* padding-top: 8px; */
    text-align: center;
    /* vertical-align: top; */
    /* padding-left: 4px; */
    /* padding-right: 4px; */

    display: flex;
    /* flex: 1; */
    align-items: stretch;
    flex-direction: column;
    /* align-content: space-between; */
    
    /* justify-content: start; */
    /* align-items: center; */

    font-size: 14px;
    color: #555e5e;
}

/* .match-history-entry .overview-table > .info {
    padding-right: 5px;
    padding-left: 5px;
} */

.match-history-entry.blue-winner .overview-table > .info {
    border-right: 1px solid var(--blue-3);
    border-left: 1px solid var(--blue-3);
    border-top-color: var(--blue-3);
}

.match-history-entry.red-winner .overview-table > .info {
    border-right: 1px solid var(--red-3);
    border-left: 1px solid var(--red-3);
    border-top-color: var(--red-3);
}

.match-history-entry .overview-table .info > div{
    margin-top: 0px;
}

.match-history-entry .overview-table .info > .elo {
    border-top: 1px solid;
    margin-top: auto;
    border-top-color: inherit;
}

.match-history-entry .overview-table .info > .elo span {
    width: 40%;
    display: inline-block;
}

.match-history-entry .overview-table .info > .elo span.red-elo {
    color: var(--red-4);
    text-align: right;
}

.match-history-entry .overview-table .info > .elo span.blue-elo {
    color: var(--blue-4);
    text-align: left;
}

.match-history-entry .overview-table .info .matchup-bar {
    height: 5px;
    /* margin-bottom: 10px; */
}

.match-history-entry .overview-table .info .matchup-bar-left {
    display:inline-block;
    width: 25%;
    height:100%;
    padding:0;
    margin:0;
    margin-right:-4px;
    vertical-align:top;
    background-color:var(--red-4);
}

.match-history-entry .overview-table .info .matchup-bar-right {
    display:inline-block;
    width: 25%;
    height:100%;
    padding:0;
    margin:0;
    margin-right:-4px;
    vertical-align:top;
    background-color:var(--blue-4);
}

.match-history-entry.red-winner .overview-table .info .elo-delta {
    color: var(--red-4);
}
.match-history-entry.blue-winner .overview-table .info .elo-delta {
    color: var(--blue-4);
}

.match-history-entry .overview-table .tags {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 25px;
    align-items: center;
    /* text-align: ;
    vertical-align: top; */
}

.match-history-entry .overview-table .tags span {
    /* flex: 0; */
    margin: 5px;
    padding: 2px 5px;
    line-height: 1;
    font-size: 10px;
    color: rgb(234, 234, 234);
    border-radius: 10px;

    border: 1px solid var(--tag-border-1);
    background-color: var(--tag-fill-1);

    /* border-top-left-radius: 5px; */

    /* width: 100px; */
}

/* Player list */
.match-history-entry .overview-table .players {
    text-align: left;
    vertical-align: top;
    /* padding: 0; */
}

.match-history-entry .overview-table .players > div {
    float: right;
    margin-right: 8px;
}

.match-history-entry .overview-table .players ul{
    width: 80px;
    /* float: left; */
    list-style: none;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    font-size: 11px;
    color: rgb(85, 85, 85);
    /* font-family: Helvetica,"Malgun Gothic","Apple SD Gothic Neo",AppleGothic,Dotum,Arial,Tahoma; */
}

.match-history-entry .overview-table .players li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.match-history-entry .overview-table .players img{
    height: 16px;
    width: 16px;
    background-color: black;
}

.match-history-entry .overview-table .expand-button{
    display: flex;
    justify-content: end;
    flex-direction: column;

    width: 30px;
    text-align: center;
    vertical-align: bottom;
    /* text-align: ; */
    padding: 0px;
    padding-bottom: 10px;
    cursor: pointer;
    border-left: 1px solid;
    /* border-bottom: 1px solid; */
}

/* .match-history-entry.open .overview-table .expand-button{
    border-bottom: none;
} */

.match-history-entry.open .overview-table > div:not(:last-child){
    border-bottom: 1px solid;
}

.match-history-entry.red-winner .overview-table > div {
    border-top-color: var(--red-4);
    border-bottom-color: var(--red-4);
}
.match-history-entry.blue-winner .overview-table > div {
    border-top-color: var(--blue-4);
    border-bottom-color: var(--blue-4);
}

.match-history-entry.red-winner .overview-table .expand-button{
    background-color: var(--red-3);
    color: var(--red-4);
}

.match-history-entry.blue-winner .overview-table .expand-button{
    background-color: var(--blue-3);
    color: var(--blue-4);
}


/* ----------------------------- */
/* ----- Match foldout box ----- */
/* ----------------------------- */

.match-history-entry .foldout {
    padding-top: 5px;
}

.match-history-entry.red-winner .foldout {
    background-color: var(--red-3);
}
.match-history-entry.blue-winner .foldout {
    background-color: var(--blue-3);
}

.match-history-entry .foldout .content{
    background-color: rgb(234, 234, 234);
}

.match-history-entry .foldout > ul {
    /* border-color: black; */
    margin-top: 10px;
    list-style: none;
    display: table;
    width: 100%;
}


.match-history-entry .foldout > ul li {
    /* border-color: black; */
    list-style: none;
    justify-content: center;
    text-align: center;
    display: table-cell;
    /* width: 33%; */
}

.match-history-entry .foldout button {
    /* border-color: black; */
    border: 1px solid;
    border-bottom: none;
    width: 200px;
    outline: 0;
}
.match-history-entry.red-winner .foldout button {
    background-color: var(--red-2);
    border-color: var(--red-4);
}
.match-history-entry.blue-winner .foldout button {
    background-color: var(--blue-2);
    border-color: var(--blue-4);
}

.match-history-entry .foldout button.selected {
    background-color: var(--background-color);
}

/* ------------------------------ */
/* ----- Match details view ----- */
/* ------------------------------ */

.match-history-entry .details {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */

    justify-content: center;
}
.match-history-entry .details > div{
    flex: 1;
}

.match-history-entry .details > div:first-child{
    /* margin: auto; */
    border-right: 1px var(--medium-border) solid;
    /* flex: 0 0 auto; */
    /* flex-grow: 0; */
    /* flex: 0 */
}

.match-history-entry .details .shipcrew > div{
    /* display: table; */
    /* max-height: 175px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 0;
    /* align-items: stretch; */
    padding: 0;
    margin: 0;
}

.match-history-entry .details .shipcrew:not(:first-of-type){
    box-sizing: border-box;
    border-top: 1px var(--medium-border) solid;
}

.match-history-entry .details > div:last-child .shipcrew > div{
    flex-direction: row-reverse;
}

.match-history-entry .details .shipcrew > span {
    /* padding-left: 10px;
    padding-right: 10px; */
    font-weight: bold;
}

/* .match-history-entry .details > div:not(:first-of-type) .shipcrew {
    text-align: right;
} */


.match-history-entry .details .shipcrew > div > *{
    padding: 0;
    margin: 0;
    /* margin: auto; */
    
}

.match-history-entry .details .shipcrew:not(:last-child){
    margin-bottom: 10px;
}

.match-history-entry .details .shipcrew canvas {
    /* height: 600px; */
    /* width: 600px; */
    background-color: white;
}

.match-history-entry .details .shipcrew ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}
.match-history-entry .details .shipcrew li {
    height: 25%;
    /* flex: 1; */
    /* border: 1px var(--medium-border) solid;
    border-top: 0;
    border-right: 0;
    border-left: 0; */
    border-top: 1px solid var(--medium-border);
    /* width: 140px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    vertical-align: bottom;
    
}
/* .match-history-entry .details .shipcrew li:first-child {
    border-top: 1px solid var(--medium-border);
} */

.match-history-entry .details .shipcrew img {
    width: 20px;
    height: 20px;
    background-color: black;
}

