

.heatmap-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.heatmap-tab > .settings{
    padding: 10px;
    flex: 1;
}

.heatmap-tab > .settings .slider-container{
    width: 100%;
}

.heatmap-tab .settings > div{
    padding-bottom: 10px;
    /* float: left; */
    /* display: inline-block; */
    /* vertical-align: top; */
}

.heatmap-container {
    position: relative;
}

/* .heatmap-container .map-image {
    width: 990px;
    height: 990px;
} */

.heatmap-container .heatmap {
    position: absolute;
    top: 0;
    left: 0;
}



.heatmap-tab label {
    display: block;
    margin: 0;
    padding: 0;
}

.heatmap-tab label.red {
    color: var(--red-4);
}

.heatmap-tab label.blue {
    color: var(--blue-4);
}

.heatmap-tab label input {
    margin-right: 3px;
}

.team-checkboxes {
    display: flex;
    flex-direction: row;
}

.team-checkboxes > input{
    margin-right: 4px;
}

/* .team-checkboxes > input {
    max-resolution: ;
}

.team-checkboxes > div {
    display: inline-block;
} */