.leaderboard-card {
    padding: 0;
}

.leaderboard-card .pagination {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.leaderboard-card .pagination button{
    border: 1px solid black;
}

.leaderboard-card table {
    padding: 0;
    margin: 0;
    width: 100%;
    table-layout: fixed;
}

.leaderboard-card table tr {
    border-bottom: 1px solid var(--card-border);
    height: 30px;
}

.leaderboard-card table tr:first-child {
    border-top: 1px solid var(--card-border);
}

.leaderboard-card table tr.highlight {
    background-color: var(--blue-2);
}

.leaderboard-card table td:nth-child(1) {
    font-weight: bold;
    padding-left: 10px;
    width: 40px;
}

.leaderboard-card table td:nth-child(2) {
    padding-left: 10px;
    width: 200px;
}

.leaderboard-card h5 {
    padding: 10px;
    padding-bottom: 4px;
    margin: 0;
}

