<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper">
    <%- include('../partials/sidebar'); %>
    <div id="content" class="container-fluid">
      <div id="about" class="content-panel">
        <h4>Source code</h4>
        Website: <a
          href="https://github.com/jjeessppeer/StatsOfIcarus">https://github.com/jjeessppeer/StatsOfIcarus</a>
        <br>
        Match history mod: <a
          href="https://github.com/jjeessppeer/MatchHistoryMod">https://github.com/jjeessppeer/MatchHistoryMod</a>
        <br>
        Data dump mod: <a
          href="https://github.com/jjeessppeer/GoioInfoDumpMod">https://github.com/jjeessppeer/GoioInfoDumpMod</a>
        <br>
        <br>
        <h4>Contact</h4>
        Send me a message on discord or an email if you have some kind of input related to the site.
        <br>
        GitHub: <a href="https://github.com/jjeessppeer/">https://github.com/jjeessppeer/</a>
        <br>
        Email: jjeessppeer@gmail.com
        <br>
        Discord: <a href="https://discordapp.com/users/224944294350422018">jesper4</a>
      </div>
    </div>
  </div>
</body>
</html>