<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script type="module" src="js/MatchHistory/matchHistory.js"></script>
</head>

<body>

  <div class="wrapper">
    <!-- Sidebar  -->
    <%- include('../partials/sidebar'); %>
    <!-- Page Content  -->
    <div id="content" class="container-fluid">
      <div id="matchHistory" class="content-panel">
      </div>
    </div>
  </div>


</body>

</html>