<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <script type="module" src="js/TournamentRandomizer.js"></script>
</head>

<body>
  <div class="wrapper">
    <%- include('../partials/sidebar'); %>
      <div id="content" class="container-fluid">
        <div id="mapRandomizer" class="content-panel">
          <div id="mapsReactRoot">
          </div>
        </div>
      </div>
  </div>
</body>

</html>